<div id="div1" style="height: 231px; margin-top: 20px">
    <div style="padding-top: 112px">
        <div title="Placegle" align="left" id="logo1" onload="window.lol&amp;&amp;lol()"
            style="background: url(/Images/logo1.png) no-repeat; margin: auto; background-size: 269px 95px; height: 95px; width: 269px;">

            <div nowrap="" style="color: #777; font-size: 16px; font-weight: bold; position: relative; left: 218px; top: 70px">
                Беларусь
            </div>
        </div>
    </div>
</div>

<div id="div2">
    <div id="div3">
        <input id="textboxSercher" type="text"/>

    </div>
</div>

<div id="div4">
    <div id="div5">
        <button id="buttonCreate" name="buttonCreate"> Create </button>
        <button id="buttonLast" name="buttonLast"> Last </button>
        <button id="buttonFuture" name="buttonFuture"> In future </button>
        <button id="buttonAllImages" name="buttonAllImages"> All fotos </button>

    </div>
</div>
